body {
	background-color: #011C34;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #FFFFFF;
}

.logo {
	margin-top: 15vh;
	width: 34vw;
	min-width: 300px;
	max-width: 400px;
}

.caption {
	padding-top: 8vh;
	opacity: .8;
	font-size: 3em;
    font-weight: 100;
	max-width: 800px;
	margin: auto;
}

@media screen and (max-width: 600px) {
	.caption {
		font-size: 2em;
	}
}

.caption span.gold {
	color: #E4C99C;
	opacity: 1;
}

.contact {
	margin-top: 8vh;
	opacity: .8;
}

.contact a {
	color: #E4C99C;
	text-decoration: none; 
}

.legal {
    font-weight: 100;
    letter-spacing: 0.6em;
    font-size: .7em;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;
	cursor: pointer;
}

#legal-content {
	font-weight: 300;
    font-size: .7em;
	background-color: #FFFFFF;
	color: #011C34;
	border-radius: 20px 20px 0 0 ;
	padding: 20px;
	margin-top: 10vh; 
	cursor: pointer;
}

